@model TeamEmployeeViewModel
<div class="row">
    <partial name="_NavLeft" />
    <div class="col-10 border">
        <h3 class="mt-4">Teams - Default Employees</h3>
        <hr />

        @foreach (var team in Model.Teams)
        {
            <form method="post" action="/update-default-team" id="form-@team.Id">
                <input type="hidden" value="@team.Id" id="TeamId" name="TeamId" />

                <div class="w-100 mt-1 p-2 d-inline-block border border-light rounded">
                    <h5 class="mt-2">@team.TeamName</h5>
                    <div class="form-group">
                        <select class="form-control mt-1 d-inline-block col-3" id="EmpId1" name="EmpId1">
                            @{
                                var emp1 = Model.Employees.FirstOrDefault(u => u.Id == team.DefaultTeamMember1Id);
                                if (emp1 != null)
                                {
                                    <option value="@emp1.Id">@emp1.First_Name @emp1.Last_Name</option>
                                }
                                else
                                {
                                    <option value="0">Unassigned</option>
                                }
                                <option value="0">Unassigned</option>
                                foreach (var employee in Model.Employees)
                                {
                                    <option value="@employee.Id">@employee.First_Name @employee.Last_Name</option>
                                }
                            }
                        </select>
                        <select class="form-control mt-1 d-inline-block col-3" id="EmpId2" name="EmpId2">
                            @{
                                var emp2 = Model.Employees.FirstOrDefault(u => u.Id == team.DefaultTeamMember2Id);
                                if (emp2 != null)
                                {
                                    <option value="@emp2.Id">@emp2.First_Name @emp2.Last_Name</option>
                                }
                                else
                                {
                                    <option value="0">Unassigned</option>
                                }
                                <option value="0">Unassigned</option>
                                foreach (var employee in Model.Employees)
                                {
                                    <option value="@employee.Id">@employee.First_Name @employee.Last_Name</option>
                                }
                            }
                        </select>
                        <select class="form-control mt-1 d-inline-block col-3" id="EmpId3" name="EmpId3">
                            @{
                                var emp3 = Model.Employees.FirstOrDefault(u => u.Id == team.DefaultTeamMember3Id);
                                if (emp3 != null)
                                {
                                    <option value="@emp3.Id">@emp3.First_Name @emp3.Last_Name</option>
                                }
                                else
                                {
                                    <option value="0">Unassigned</option>
                                }
                                <option value="0">Unassigned</option>
                                foreach (var employee in Model.Employees)
                                {
                                    <option value="@employee.Id">@employee.First_Name @employee.Last_Name</option>
                                }
                            }
                        </select>
                        <input type="submit" value="Save" class="ml-2 btn btn-sm btn-success" />

                    </div>
                </div>
            </form>
        }
    </div>
</div>

